a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: solid 2px rgba(46, 62, 72, 0.12);
}

.header .logo {
  flex-grow: 1;
}

.header .logo a {
  display: inline-block;
}

.header .logo img {
  height: 44px;
}

.header .menu {
  display: flex;
  line-height: 1.45;
  font-size: 14px;
}

.header .menu-item-normal {
  color: #757575;
  padding-left: 20px;
}

.header .menu-item-normal:hover {
  color: #0098ab;
}
