a {
  text-decoration: none;
}

p {
  margin: 0;
}

.activity-item {
  display: inline-block;
  /* max-width: 540px; */
  border-radius: 8px;
  box-shadow: 0 0 4px 0 rgba(46, 62, 72, 0.05),
    0 4px 8px 0 rgba(46, 62, 72, 0.05);
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    transform 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.activity-item:hover {
  box-shadow: 0 0 8px 0 rgba(46, 62, 72, 0.05),
    0 8px 12px 0 rgba(46, 62, 72, 0.05);
  transform: translateY(-2px);
}

.activity-item .image {
  border-radius: 8px 8px 0 0;
}

.activity-item .activity-info {
  padding: 40px 118px 40px 34px;
}

.activity-item .activity-info h2 {
  font-size: 28px;
  color: #000;
  margin-top: 0;
  margin-bottom: 28px;
}

.activity-item .activity-info .info {
  color: #212121;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 60px;
}

.activity-item .activity-info .link {
  display: flex;
}

.activity-item .activity-info .link p {
  color: #00a2c7;
  font-weight: bold;
  padding-right: 10px;
}
